#mapView,
#imgPreview {
    display: inline-block;
    height: 500px;
    width: 500px;
}


.jumbotron {
    background-color: #1f3349;
    color: rgb(187, 187, 201);
}


#title {
    font-size: 30pt;
    color: blueviolet;
}

